Package: com.teslaman3092.popoutbuttons
Name: PopOutButtons
Version: 1.0.2
Architecture: iphoneos-arm64
Description: PopOutButtons bring the iOS 18 buttons popouts to iOS 13-17
Maintainer: teslaman3092
Author: teslaman3092
Section: Tweaks
Depends: firmware (>= 13.0), firmware (<< 18.0), com.opa334.ellekit | mobilesubstrate (>= 0.9.5000), com.mrgcgamer.libgcuniversal, preferenceloader
